header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 4rem;
}

header .header-nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 2rem;
}